---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";
import Events from "../components/Events.astro";
import "../styles/general.css";
---

<Layout>
  <Header />
  <Hero />
  <Intro />
  <Events />
  <div class="margin"></div>
  <Layout>
    <style>
      .margin {
        height: 500px;
      }
    </style>
  </Layout></Layout
>
