---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";
import Events from "../components/Events.astro";
import Offer from "../components/Offer.astro";
import Materials from "../components/Materials.astro";
import Labs from "../components/Labs.astro";
import Values from "../components/Values.astro";
import "../styles/general.css";
---

<Layout>
  <Header />
  <Hero />
  <Intro />
  <Offer />
  <Events />
  <Labs />
  <Materials />
  <Values />
  <div class="margin"></div>
</Layout>

<style>
  .margin {
    height: 500px;
  }
</style>
