---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import "../styles/general.css";
---

<Layout>
  <Header />
  <h1>Welcome to Astro!</h1>
  <h2>Hej</h2>
  <h3>Hej</h3>
  <p>This is a simple example of an Astro page.</p>
  <p>Feel free to explore the code and customize it to your liking.</p>
  <a href="">Hej</a>
</Layout>
