<section>
  <a href="">Forside</a> /
  <a href="">Studieliv og Faciliteter</a> /
  <a href="">Labs</a> /
  <a href="">Circular Labs</a> /
  <a href=""><span class="current">Circular Lab</span></a>
</section>

<style>
  html {
    text-decoration: none;
    color: var(--kea-text-blue);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6;
  }

  section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 25px;
  }

  .current {
    color: gray;
    cursor: default;
  }

  @media (max-width: 800px) {
    html,
    a {
      font-size: 9px;
    }

    section {
      gap: 6px;
    }
  }
</style>
