---
const { notopmargin } = Astro.props;
---

<footer class={notopmargin}>
  <section class="grid_1-1-1-1 text_margin" style="padding-top: 50px;">
    <div class="justify">
      <h3>KEA - Københavns Erhvervsakademi</h3>
      <p>Guldbergsgade 29N 2200 København N</p>
      <p>
        kea@kea.dk<br />
        +45 46 46 00 00
      </p>
      <p>
        CVR: 31 65 62 06<br />
        EAN: 5798 000 560 291
      </p>
      <p>
        Rettelser til hjemmesiden:<br />
        webmaster@kea.dk
      </p>
      <p class="fed">
        Du skal ikke bare vide.<br />
        Du skal kunne.
      </p>
    </div>
    <div>
      <div class="flex_column">
        <h3>Kontakt</h3>
        <a href="/">Presse</a>
        <a href="/">SPS-vejleder</a>
        <a href="/">Studievejledning - uddannelser</a>
        <a href="/">Studievejledning - efteruddannelser</a>
      </div>
      <div class="blank_space2"></div>
      <div class="flex_column">
        <h3>For dig der er ...</h3>
        <a href="/">Nuværende studerende</a>
        <a href="/">Tidligere studerende</a>
        <a href="/">Medarbejder</a>
        <a href="/">Journalist</a>
        <a href="/">Censor</a>
        <a href="/">Jobsøgende</a>
      </div>
    </div>
    <div class="flex_column">
      <h3>Praktisk info</h3>
      <a href="/">Cookies</a>
      <a href="/">Persondatapolitik</a>
      <a href="/">Tilgængelighedserklæring</a>
      <a href="/">Handelsbetingelser ved køb af efteruddannelse</a>
      <a href="/">Fakturering og indkøb</a>
      <a href="/">Instruktion til håndværkere og leverandører</a>
      <a href="/">Handlingsplaner</a>
      <a href="/">Internationale retningslinjer</a>
      <a href="/">Ordensregler</a>
    </div>
    <div class="flex_column">
      <div class="flex_row">
        <img src="/facebook.svg" class="icon" alt="Facebook" />
        <img src="/linkedin.svg" alt="LinkedIn" class="icon" />
        <img src="/instagram.svg" alt="Instagram" class="icon" />
        <img src="/x.svg" alt="X" class="icon" />
        <img src="/youtube.svg" alt="YouTube" class="icon" />
      </div>
      <div>
        <img
          src="https://www.podbean.com/images/badges/w600.png"
          alt="PodBean"
          style="width: 140px; margin-top: 15px;"
        />
      </div>
    </div>
  </section>
</footer>

<style>
  footer {
    background-color: var(--kea-text-blue);
    height: 435px;
    margin-top: 100px;
  }
  footer.notopmargin {
    margin-top: 0;
  }

  footer h2,
  footer h3,
  footer p,
  footer a {
    color: white;
  }

  a {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 1.6;
  }

  p {
    font-weight: 100;
  }
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fed {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
  }

  .flex_column {
    display: flex;
    flex-direction: column;
  }

  .flex_row {
    display: flex;
    flex-direction: row;
  }

  .icon {
    width: 25px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
  }

  .icon:hover {
    filter: brightness(0) saturate(100%) invert(36%) sepia(100%) saturate(7425%)
      hue-rotate(357deg) brightness(95%) contrast(86%);
  }

  footer a:hover {
    color: #e12619;
  }

  .justify {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 800px) {
    footer {
      height: auto;
      padding-bottom: 50px;
    }

    .grid_1-1-1-1 {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .icon {
      margin-right: 5px;
    }
  }
</style>
