<section class="hero">
  <img src="/ring_1.svg" alt="Bæredygtig økonomi" class="ring_1" />
  <img src="/ring_2.svg" alt="Bæredygtig økonomi" class="ring_2" />
  <img
    src="/circular_lab_redesign.svg"
    alt="Circular Lab"
    class="circular_lab"
  />
</section>

<style>
  .hero {
    width: 100%;
    height: 25vw;
    background-image: url("/hero.webp");
    background-size: cover;
    background-position: bottom;
    position: relative;
  }

  .ring_1 {
    width: 20%;
    position: absolute;
    top: 10%;
    left: 34%;
    z-index: 2;
    transform: rotate(100deg);
    opacity: 0.7;
  }

  .ring_2 {
    width: 20%;
    position: absolute;
    top: 10%;
    left: 51%;
    z-index: 1;
    opacity: 0.7;
  }

  .circular_lab {
    position: absolute;
    width: 27%;
    top: 24%;
    left: 38%;
    z-index: 3;
  }

  .ring_1 {
    animation-name: rotation_kf;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .ring_2 {
    animation-name: rotation_kf2;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes rotation_kf {
    from {
      rotate: 0deg;
    }

    to {
      rotate: 360deg;
    }
  }

  @keyframes rotation_kf2 {
    from {
      rotate: 0deg;
    }

    to {
      rotate: -360deg;
    }
  }
</style>
