---
import Breadcrumb from "./Breadcrumb.astro";
---

<section
  class="text_margin"
  data-aos="fade-right"
  data-aos-delay="100"
  data-aos-duration="1000"
>
  <Breadcrumb />
  <div class="blank_space"></div>
  <h1>Circular Lab</h1>
  <div class="blank_space"></div>
  <p class="p2">
    Circular Lab er et community lab med fokus på cirkulære forretningsmodeller,
    strategier og design. Circular Lab er for KEAs studerende, undervisere og
    medlemmer af samarbejdende institutioner. Circular Lab samarbejder på tværs
    af de andre labs på KEA.
  </p>
  <div class="blank_space"></div>
  <p>
    Circular Lab er et multifunktionelt rum, der indbyder til at udforske og
    undersøge nye cirkulære forretningsmodeller og hvordan vi designer cirkulære
    produkter. Gennem workshops, foredrag, community caféer og virksomhedsbesøg
    åbner vi op for mulighederne der følger med den cirkulære omstilling og
    hvordan man kan udforske dem igennem praksis og teori.
    <br /><br />
    Lab’et bruges til undervisning, workshops, arrangementer, udstillinger og eksperimenter.
    Følg med i kalenderen for at se de kommende events og happenings.
  </p>
  <div class="blank_space"></div>
  <div class="horizontal_line"></div>
</section>
