---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import MaterialCard from "../components/MaterialCard.astro";
import "../styles/general.css";
const url =
  "https://bhfvhffdxxdjkhhsibss.supabase.co/rest/v1/materials?select=*&order=num.asc";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJoZnZoZmZkeHhkamtoaHNpYnNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjc3MTEsImV4cCI6MjA1OTg0MzcxMX0.jaV8y7mTFT_UEzDdVByZP-2KfDB_-S98GRYthD5OY-M";

const options = {
  headers: {
    apikey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());
console.log(data);
---

<div class="blank_space"></div>
<section class="grid" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
    <div class="text_margin">
        <div class="blank_space2"></div>
        <h2>Catalog // Circular Lab</h2>
        <p style="max-width: 100vw;">Hos Circular Lab har vi stort fokus på bæredygtige ressourcer og innovative metoder til at genanvende materialer, der ellers ville blive kasseret. Vi arbejder målrettet med at finde nye anvendelser for restmaterialer og overskud fra produktion, som stadig rummer stor værdi. Her på siden finder du et katalog over de forskellige materialer, vi aktuelt arbejder med og prioriterer i vores projekter.</p>
<div class="scroll-container">
  <div class="scroll-box">
    {data.map((material) => <MaterialCard {material} material_id=`/materials/${material.id}` />)}
  </div>
    </div>
</div>
    <div class="background"></div>
</section>


    <style>
        .grid {
          display: grid;
          grid-template-areas: "overlap"; /* Definer et enkelt område */
          position: relative;
        }
      
        .background {
          grid-area: overlap;
          background-color: white;
          width: 1150px;
          height: 100%;
          padding: 100px;
          margin: 0 auto;
          z-index: 1;
        }
      
        .text_margin {
          grid-area: overlap; /* Placeres i samme område */
          z-index: 2; /* Sørg for, at dette element er øverst */
        }
      
        .scroll-container {
          position: relative;
          display: flex;
          align-items: center;
          overflow: hidden;
          margin-top: 10px;
        }
      
        .scroll-box {
          display: flex;
          gap: 20px;
          overflow-x: auto; /* Aktiver horisontal scrolling */
          overflow-y: hidden; /* Deaktiver vertikal scrolling */
          scroll-behavior: smooth; /* Gør scroll jævn */
          padding-right: 10px 0;
          margin-bottom: 50px;
          filter: brightness(1.1);
        }
      
        .scroll-box::-webkit-scrollbar {
          height: 8px; /* Højde på scrollbaren */
        }
      
        .scroll-box::-webkit-scrollbar-thumb {
          background-color: var(--kea-text-blue); /* Farve på scrollbaren */
          border-radius: 4px; /* Rundede hjørner */
        }
      
        .scroll-box::-webkit-scrollbar-track {
          background-color: #E0E0E0; /* Baggrund for scrollbaren */
        }
      

  @media (max-width: 1130px) {
    .background {
      display: none;
    }

    .grid {
      background-color: white;
    }
  }

      </style>
      