<section
  class="text_margin"
  data-aos="fade-left"
  data-aos-delay="100"
  data-aos-duration="1000"
>
  <div class="blank_space"></div>
  <h2>Hvad tilbyder vi?</h2>
  <div class="blank_space2"></div>
  <ul>
    <li>
      <h3 class="collapsible-header">
        Cirkulær vejledning <span class="plus">+</span>
      </h3>
      <div class="collapsible-body">
        <p>
          Sidder du med et projekt/eller forløb, hvor I skal tænke cirkulært? Er
          du i tvivl om, hvordan du designer dine produkter, så de er optimeret
          til cirkulære forretningsmodeller? Så kom ned i labbet og få råd og
          vejledning til dit projekt.
        </p>
        <p>
          Vi hjælper både med materialer, design, forretningsmodeller,
          strategier og alt der skal til for at skabe den bedste cirkularitet –
          er du i tvivl om vi kan hjælpe med netop din udfordring, så kom forbi
          og lad os undersøge det sammen.
        </p>
        <p>
          Vejledning i labbet er muligt i de bemandede åbningstider (<a
            href="#kalender"
            >se kalender
          </a>) eller send en mail til lab manager Nikolaj Storm på <a
            href="mailto:circular@kea.dk">circular@kea.dk</a
          > og book en tid.
        </p>
      </div>
    </li>
    <li>
      <h3 class="collapsible-header">
        Cirkulært iværksætteri <span class="plus">+</span>
      </h3>
      <div class="collapsible-body">
        <p>
          Er du iværksætter med din egen virksomhed, eller en del af KEAs
          Startup Hub, og ønsker at undersøge mulighederne for at gøre din
          virksomhed cirkulær i tråd med ny lovgivning – så book en coaching med
          Cirkulær lab manager Nikolaj Storm (<a href="mailto:circular@kea.dk"
            >circular@kea.dk</a
          >).
        </p>
        <p>
          Sammen kan vi analysere virksomheden og du kan få værktøjer og
          indsigter i, hvordan du kan planlægge din cirkulære transition på
          sigt.
        </p>
      </div>
    </li>
    <li>
      <h3 class="collapsible-header">
        Cirkulære workshops <span class="plus">+</span>
      </h3>
      <div class="collapsible-body">
        <p>
          Er du underviser og har brug for et cirkulært indspark i et forløb
          eller crash course for dine studerende uanset programområde? Er I en
          gruppe studerende, der ønsker at øge jeres kendskab til cirkularitet
          og cirkulære forretningsmodeller? Så har vi mulighederne til jer.
        </p>
        <p>
          Circular Lab har forskellige workshops baseret på materiale fra
          Regndans, Ellen McArthur Foundation og Dansk Design Center. Vi kan
          facilitere workshops inden for mange forskellige områder tilknyttet
          cirkularitet og vi kan skræddersy workshops og foredrag specielt til
          jeres undervisning/programområde – så både studerende og undervisere
          bliver klædt godt på til en cirkulær fremtid.
        </p>
      </div>
    </li>
    <li>
      <h3 class="collapsible-header">
        Adgang til nyeste forskning <span class="plus">+</span>
      </h3>
      <div class="collapsible-body">
        <p>
          Hos Circular Lab holder vi os opdaterede på den nyeste forskning inden
          for cirkularitet. Mange virksomheder og brancher er netop i gang med
          at implementere forskellige cirkulære forretningsmodeller, og vi
          følger med for at kunne guide jer til de bedste løsninger netop nu.
        </p>
        <p>
          Så har du brug for den nyeste viden eller savner du noget forskning
          netop indenfor dit felt? Så kom forbi labbet og hør nærmere.
        </p>
      </div>
    </li>
    <li>
      <h3 class="collapsible-header">
        Cirkulære foredrag <span class="plus">+</span>
      </h3>
      <div class="collapsible-body">
        <p>
          Der sker rigtig meget inden for cirkularitet netop nu. Derfor holder
          vi også løbende foredrag og events med relevante aktører fra
          brancherne, så både studerende og medarbejdere kan få et indblik i,
          hvordan vi arbejder med cirkularitet i praksis. Bliv inspireret på
          tværs af brancher – sådan kan vi få nye ideer og skabe nye sammenhænge
          til flere cirkulære modeller.
        </p>
        <p>
          Har du en spændende tale,r du gerne vil have forbi? Så kom forbi og
          snak med os i labbet og lad os se, hvad vi kan gøre.
        </p>
        <p>
          <a href="#kalender">Hold dig opdateret i kalenderen</a> for kommende foredrag
          i labbet.
        </p>
      </div>
    </li>
    <li>
      <h3 class="collapsible-header">
        Circular skills <span class="plus">+</span>
      </h3>
      <div class="collapsible-body">
        <p>
          Cirkularitet handler om nye forretningsmuligheder – men kræver også
          mange værktøjer som reparation, opgraderinger, redesigns og meget
          mere. Vi afholder løbende workshops med forskellige temaer, hvor vi
          træner cirkulære skills.
        </p>
        <p>
          Vores workshops er åbne for alle og derfor også en mulighed for at
          udvide dit cirkulære netværk, men også at få tilegnet nye færdigheder,
          der måske ligger uden for dit programområde.
        </p>
        <p>
          <a href="#kalender">Hold dig opdateret i kalenderen</a> med de nyeste events
          i den kommende fremtid.
        </p>
      </div>
    </li>
  </ul>
  <p>
    Har du/I allerede nu spørgsmål omkring cirkularitet, eller har du/I jeres
    eget cirkulære tiltag, I ønsker at teste af i labbet eller har du/I input
    til aktiviteter i labbet, kan du/I altid kontakte os på <a
      href="mailto:circular@kea.dk">circular@kea.dk.</a
    >
  </p>
  <script>
    document.querySelectorAll(".collapsible-header").forEach((header) => {
      header.addEventListener("click", () => {
        const body = header.nextElementSibling as HTMLElement;

        if (body && body.classList.contains("open")) {
          body.style.maxHeight = ""; // Luk sektionen
          body.classList.remove("open");
        } else {
          document
            .querySelectorAll(".collapsible-body.open")
            .forEach((openBody) => {
              if (openBody instanceof HTMLElement) {
                openBody.style.maxHeight = "";
                openBody.classList.remove("open");
              }
            });

          if (body) {
            body.style.maxHeight = body.scrollHeight + "px";
            body.classList.add("open");
          }
        }
      });
    });
  </script>
</section>

<style>
  li {
    list-style: none;
    margin-bottom: 20px;
  }
  .collapsible-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    border-bottom: 2px solid var(--kea-text-blue);
    padding-bottom: 2px;
  }

  .collapsible-body.open {
    max-height: 500px;
  }

  h3 {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  h3:hover {
    color: #ea5045;
  }

  .plus {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: right;
    width: 100vw;
  }
</style>
