<section class="text_margin">
  <div class="blank_space"></div>
  <h2>Praktisk</h2>
  <div class="blank_space2"></div>
  <div class="grid_1-1-1">
    <article>
      <h3>Åbningstider</h3>
      <p>Circular Lab er åbent mandag til fredag <br /> 8.30 – 22.00 <br /></p>
      <p>
        <br />Du velkommen til at benytte lokalet i åbningstiden, så længe der
        ikke foregår undervisning, workshops eller andet. <br />
      </p>
      <a href="">(Tjek vores kalender for at se kommende events).</a>
      <br />
      <p>
        <br />Åbningstider for vejledning med Lab Manager: <a href=""
          >Se kalender.</a
        >
      </p>
    </article>
    <article class="seperate">
      <div>
        <h3>Adgang til labbet</h3>
        <p>Labbet er placeret på Guldbergsgade 29N, Lokale A129.</p>
      </div>
      <div>
        <h3>Kontakt</h3>
        <p>E: <a href="">circular@kea.dk</a></p>

        <div class="contact">
          <img
            class="avatar"
            src="https://mit.kea.dk/slir/w200-c1x1/images/resources/silhuet.png"
            alt=""
          />
          <div>
            <h3>Nikolaj Storm Hauge Tost</h3>
            <p>E: nito@kea.dk</p>
          </div>
        </div>
      </div>
    </article>
    <article class="seperate">
      <img src="circular_lab_full.svg" alt="" />
      <img src="circular_lab_og.png" alt="" />
    </article>
  </div>
</section>

<style>
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 75px;
  }

  .avatar {
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 10px;
  }

  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .seperate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
