<div class="blank_space"></div>
<section
  class="text_margin"
  data-aos="fade-left"
  data-aos-delay="100"
  data-aos-duration="1000"
>
  <h2>Sustainable Values</h2>
  <p>
    Circular Lab arbejder ud fra en filosofi om, at bæredygtighed ikke skal være
    en tilføjelse, men en naturlig del af produktets livscyklus – fra
    materialevalg til slutbrug. Derfor vælger vi løsninger, der er skånsomme for
    planeten og lette at håndtere, når produktet har tjent sit formål. Vi
    prioriterer indhold og metoder, der belaster kloden mindst muligt, og som er
    sikre for både mennesker og natur. Ved at tænke cirkulært skaber vi
    produkter, der både bidrager til en grønnere fremtid og imødekommer moderne
    behov for funktionalitet og ansvarlighed. Vores filosofi er illustreret i
    følgende ikoner:
  </p>
  <div class="flex">
    <figure>
      <img src="biodegradable.svg" alt="Biodegradable" />
      <p>Biodegradable</p>
    </figure>
    <figure>
      <img src="low_carbon_footprint.svg" alt="Low Carbon Contet" />
      <p>Low Carbon<br />Footprint</p>
    </figure>
    <figure>
      <img src="recycled_contet.svg" alt="Recycled Content" />
      <p>Recycled<br />Contet</p>
    </figure>
    <figure>
      <img src="lightweight.svg" alt="Lightweight" />
      <p>Lightweight</p>
    </figure>
    <figure>
      <img src="easily_recyclable.svg" alt="Easily Recyclable" />
      <p>Easily<br />Recyclable</p>
    </figure>
    <figure>
      <img src="compostable.svg" alt="Compostable" />
      <p>Compostable</p>
    </figure>
    <figure>
      <img src="renewable_content.svg" alt="Renewable Content" />
      <p>Renewable<br />Content</p>
    </figure>
    <figure>
      <img src="low_toxicity.svg" alt="Low Toxicity" />
      <p>Low<br />Toxicity</p>
    </figure>
  </div>
  <div class="blank_space"></div>
  <div class="horizontal_line"></div>
</section>

<style>
  img {
    width: 100px;
    height: auto;
  }

  figure p {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: 1.1;
    margin-top: 10px;
  }

  figure {
    place-items: center;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
  }
</style>
