---
import AOSInit from "../components/AOSInit.jsx";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon_io/site.webmanifest" />
    <!-- Meta -->
    <meta
      name="Circular Lab"
      content="Et projekt vedrørende information om Circular Lab på Københavns Erhvervsakademi 2025 gruppe 10"
    />
    <!-- Webfonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Circular Lab - Mit KEA</title>
  </head>
  <body>
    <AOSInit client:load />
    <slot />
  </body>
</html>
